/* mobile */

@media screen and (max-width : 767px) {

    .form-sear{
        border: 1px solid rgb(194, 191, 191);
        border-radius: 14px;
        width: 18em;
        height: 2.5em;
    }
    .imgSear{
        position: absolute;
        right: 30px;
        top: 0;
        bottom: 0;
     }
 
     thead{
         display: none;
     }
 
     tr, tbody, td, table{
         display: block;
         margin-bottom: 25px;
     }
 
     tr{
         margin-bottom: 25px;
         border-radius: 12px;
         box-shadow: 2px 1px 3px black;
     }
     .sup, .th{
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .sup button{
         font-size: 20px;
     }
 
     td{
         text-align: right;
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     
     td::before{
         content: attr(data-label);
         position: absolute;
         left: 0;
         padding-left: 15px;
         font-weight: bold;
         font-size: 15px;
     }
 
     .imageProduit{
         background-color: #ece8e8;
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 12px;
         margin: 0 9px;
         width: 80%;
         /* border: 1px solid rgb(31, 73, 190); */
         box-shadow: 0 10px 20px rgb(192, 215, 247);
         display: flex;
         flex-direction: column;
         overflow: hidden;
         border-radius: 12px;
     }

     .imageProduit:active{
        background-color: rgb(36, 131, 168);
     }

     .imageProduit img{
         width: 9em;
         height: 8em;
     }
     .testi{
         display: flex;
         justify-content: center;
     }
 
 }


.form-sear{
    border: 1px solid black;
    border-radius: 14px;
 }
 .formSea{
    position: relative;
 }

 .imgSear{
    position: absolute;
    right: 30px;
    top: 3px;
    bottom: 0;
 }

/* pc */

 @media screen and (min-width: 1024px) {
   
    .form-sear{
        border: 1px solid rgb(194, 191, 191);
        border-radius: 14px;
        width: 32em;
        height: 2.5em;
    }
 }
 
 .search{
     height: 50px;
     width: 140px;
     border-radius: 14px;
     font-size: 15px;
 }
 
 .menuChildren{
     margin: 0 2px;
     border: 1px solid black;
     padding: 6px;
     border-radius: 13px 13px 6px 6px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: rgb(192, 215, 247);
 }
 
 .menuChildren:hover{
     color: white;
     background-color: rgb(82, 78, 78);
 }
 
 @media (max-width: 576px) {
     .menu{
         display: flex;
         flex-direction: column;
     } 
 }
 
 
 .acceuil, .console,  .android, .ordinateur{
     width: 8em;
 }
 
 
 h2{
     font-size: 18px;
 }
 
 
 .imageProduit{
     background-color: #c7c7c7;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 12px;
     margin: 0 9px;
     width: 12em;
     /* border: 1px solid rgb(31, 73, 190); */
     box-shadow: 0 10px 20px rgb(192, 215, 247);
     display: flex;
     flex-direction: column;
     overflow: hidden;
 }
 
 .overlay{
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     opacity: 0;
     transition: opacity 0.4s ease-in-out;
     background-color: rgba(0, 0, 0, 0.349);
     cursor: pointer;
 }
 
 .content{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
     font-family: verdana;
     text-align: center;
 }
 
 .imageProduit:hover .overlay{
     opacity: 0.8;
 }
 .imageProduit:hover img{
     opacity: 0.8;
     transform: scale(1.6);
 }
 
 .titreProd h3{
     font-size: 18px;
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     background-color: rgba(46, 192, 211, 0.836);
     width: 4em;
     border-radius: 12px;
     box-shadow: 2px 3px 4px rgb(119, 117, 117);
 }
 
 .imageProduit img{
     width: 100%;
     transition: transform 2s;
 }
 
 hr{
     width: 100%;
 }
 
 .del{
     border-radius: 50%;
     font-size: 12px;
 }
 
 .qte{
     display: flex;
     align-items: center;
 }

 .numQte span{
     border: 1px solid black;
     padding: 3px;
     background-color: white;
 }
 
 .titreTableau{
     /* background-color: #f8f6f6; */
     border-radius: 12px;
 }
 
 
 .titreTableau tr th{
     background-color: #f8efef44;  
 }
 
 tbody .det{
     background-color: #d3cece44;
     
 }
 .bouton{
     width: 100%;
     display: flex;
     justify-content: space-between;
     margin: 3em 0;
 }
 
 .bouton .btn-danger{
     width: 48%;
    
 }
 .bouton .btn-primary{
     width: 48%;
 } 
 
 .formDetail{
     margin: 1em 0;
 }

 table{
    margin: 3em 0;
    border-collapse : separate;
    border-spacing : 5px;
 }

 .numQte input{
    width: 85px;
 }

 @media screen and (min-width : 767px) and (max-width : 1023px) {

    .form-sear{
        border: 1px solid rgb(194, 191, 191);
        border-radius: 14px;
        width: 18em;
        height: 2.5em;
    }
 }
 
